# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alogg\OneDrive\Desktop\School\Spring 2022\CS 222\AriLoggiaCacheSimulator-Rust\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
